body {
  font-family: 'FontAwesome';
  background: linear-gradient(to right, #cbb4d4, #20002c);
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
  display: flex;
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: #f7f7f7;
}

span {
	height: 40px;
  margin-left: 10px;
	margin-right: 20px;
  display: inline-block;
	text-align: center;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

.buttons {
  display: flex;
  justify-content: space-between;
}

.listOfTodos-true {
  position: relative;
}

.listOfTodos-true:after {
  /*Put a line through the marked text*/
  content: '';
  border-bottom: 4px solid red;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}

.delete-button {
  /*align-items: center;*/
  background: url('./trash.png') center center no-repeat;
  padding: 16px 16px;
	background-color:#f16622;
	border-radius:8px;
	border:1px solid #055c0e;
  margin: 3px;
}

.delete-button:hover {
	background-color:#941d1d;
}

.delete-button:active {
	position:relative;
	top:1px;
}

.mark-button {
  background: url('./check.png') center center no-repeat;
  padding: 16px 16px;
  background-color:#99cd19;
  border-radius:8px;
  border:1px solid #274dd2;
  margin: 3px;
  justify-content: flex-end;
}

.mark-button:hover {
	background-color:#217109;
}

.mark-button:active {
	position:relative;
	top:1px;
}

footer {
  text-align: center;
}
