body {
  font-family: helvetica;
  background: linear-gradient(to right, #cbb4d4, #20002c);
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px 10px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
  text-align: center;
}

ul {
	list-style: none;
	margin: 5px;
	padding: 5px;
}

li {
  display: flex;
  justify-content: space-between;
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: #f7f7f7;
}

span {
	height: 40px;
  margin-left: 10px;
	margin-right: 20px;
  display: inline-block;
	text-align: center;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

#container {
	width: 60%;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  #container {
  	width: auto;
  	margin: 100px auto;
  	background: #f7f7f7;
  	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

  }
}

.buttons {
  display: flex;
}

.listOfTodos-true {
  position: relative;
}

.listOfTodos-true:after {
  /*Put a line through the marked text*/
  content: '';
  border-bottom: 4px solid red;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}

.delete-button {
  /*align-items: center;*/
  background: url('./images/trash.png') center center no-repeat;
  padding: 12px 15px;
	background-color:#e74c3c;
	border-radius:8px;
	/*border:1px solid #411511;
  box-shadow: 2px 2px 2px #888888*/
  margin: 3px;
}

.delete-button:hover {
	background-color:#941d1d;
}

.delete-button:active {
	position:relative;
	top:1px;
}

.mark-button {
  background: url('./images/check.png') center center no-repeat;
  padding: 10px 15px;
  background-color:#40c71f;
  border-radius:8px;
  /*border:1px solid #274dd2;
  box-shadow: 2px 2px 2px #888888*/
  margin: 3px;
  justify-content: flex-end;
}

.mark-button:hover {
	background-color:#217109;
}

.mark-button:active {
	position:relative;
	top:1px;
}

footer {
  text-align: center;
}
